/* .section {} */

.section__inner {
  display: flex;
  flex-wrap: wrap;

  /* padding: 15px; */

  border: 1px solid var(--gray-light);
  background-color: var(--primary-light-2);
}

.section__title {
  width: 100%;
  margin-top: 15px;

  margin-bottom: 15px;

  text-align: center;
}

.section__title-text {
  padding-right: 15px;
  padding-left: 15px;

  color: var(--attention);

  background: var(--light);

  font-size: 22px;
  font-weight: 500;
}

.section__body {
  width: 100%;
  padding: 15px;
}

.section__row {
  margin: 0;

  border-bottom: 4px solid var(--primary-light-2);
}
