.kitRow {
  margin: 0;
}

.kitRow__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 15px;
}

.kitRow__title {
  min-width: 200px;

  text-align: right;

  color: green;
}

.kitRow__item {
  width: calc(100% - 200px);
}
