html,
body {
	margin: 0;
	padding: 0;

	color: var(--dark);
	background-color: var(--light);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
} */

:root {
	--dark: #3B434E;
	--light: #FFF;
	--primary: #7653FC;
	--primary-light: #896CFB;
	--accept: #1DC37E;
	--accept-light: rgba(var(--accept, 0.8));
	--attantion: #FC836D;
	--gray-light: #EBEBEB;
	--font-family: "Noto Sans", sans-serif;
	--tr: 0.25s;
}
